<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	
	<link rel="alternate" type="application/atom+xml" title="Atom" href="">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="">
	
	<title>Project name</title>
	<meta name="author" lang="ja" content="">
	<meta name="copyright" lang="ja" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="canonical" href="http://xxxxxxxxxxxx/"> 
	
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
	<meta http-equiv="imagetoolbar" content="no">
	
	<!--favicon-->
<!--
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->

	<!--share-->
	<link rel="stylesheet" type="text/css" href="/css/import.css" media="screen,print" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common/static.js"></script>
	<script type="text/javascript" src="/js/common/common.js"></script>
	<script type="text/javascript" src="/js/plugin/jscolor/jscolor.js"></script>
			
	<!--dyrect-->
	<style type="text/css">
	.topbar h1 {
		display: none;
	}
	.topbar {
		position: relative;
		width: 100%;
		height: 550px;
		background: url(/images/bg.jpg) center repeat-x;
		text-align: center;
		z-index: 0;
		margin: 0;
		padding: 0;
		border: none;
	}
	.footer {
		padding: 10px;
		text-align: center;
		background: #000;
		font-size: 10px;
		color: #fff;
		text-decoration: none;
	}
	.footer a {
		font-size: 10px;
		color: #fff;
		text-decoration: none;
	}
	.menuR {
		display: block;
		width: 220px;
		height: 586px;
		background: url(/images/menuR_bg.jpg) no-repeat;
	}
	.nav-wrap {
		position: absolute;
		top: 519px;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.nav-wrap .tabs {
		width: 298px;
		margin: 0 auto;
	}
	.container {
		margin: 0 auto;
	}
	.contents {
	}
	.main {
	}
	.form-wrap {
		text-align: center;
	}
	.form-wrap .form {
		position: relative;
  		width: 390px;
		margin: 0 auto;
		padding: 240px 0 0 150px;
	}
	.form-wrap .b_source {
		position: absolute;
		top: 390px;
		left: 190px;
	}
	.form-wrap .b_close {
		position: absolute;
		left: 90px;
	}
	.form-wrap .form {
  		width: 390px;
		margin: 0 auto;
		padding: 240px 0 0 150px;
	}
	dl.setting {
		clear: both;
	}
	dl.setting dt {
		clear: both;
		float: left;
		width: 100px;
		text-align: left;
		padding: 10px 10px 0 0;
		font-size: 12px;
	}
	dl.setting dd {
		text-align: left;
		padding: 8px 0 0 0;
	}
	.color,
	dl.setting input[type="text"],
	dl.setting input[type="password"],
	dl.setting input[type="email"],
	dl.setting textarea {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 120px;
		display: block;
		margin-bottom: 0px;
		background: #fff;
	}
	ul.lists {
	}
	ul.lists li {
		clear: both;
		width: 340px;
		border-top: 1px solid #ddd; 
	}
	ul.lists li > div {
		float: left;	
		padding: 5px;	
		height: 20px;
	}
	ul.lists li .icurl(/images/b_source.png)on {
		float: left;		
		width: 20px;
		margin-right: 10px;
	}
	ul.lists li .repo {
		float: left;		
		margin-right: 10px;
	}
	ul.lists li .fav {
		float: right;
		width: 30px;
		margin-right: 10px;
	}
	ul.lists li .usr {
		float: right;
		width: 30px;
	}
	.arw-badge-l,
	.arw-badge-r {
		position: absolute;
		z-index: 9999;
	}
	.source-view {
		position: absolute;
		top: 240px;
		left: 100px;
		display: block;
		width: 330px;
	}
	.source-view #regularTextarea {
		margin-left: 30px;
		width: 280px;
		height: 130px;
	}
	.fill {
		background: aqua;
	}
	</style>
	<script type="text/javascript"><!--
	$(function() {
		$('.radio-pos').click(function() {
	  		updateBadge();
		});
		
		$("form :input").focus(function() {
			$(this).addClass('focus');
	  		updateBadge();
		});
		
		$("form :input").blur(function() {
			$(this).removeClass('focus');
	  		updateBadge();
		});
		

	  	function updateBadge() {
	  		var posTop = $('#posTop').val();
	  		var pos = $('.radio-pos:checked').val();
	  		var color = $('#color').val();
	  		var account = $('#account').val();
			o.account = account;
			o.color = color;
			o.side = pos;
			o.top = posTop;
			o.showbadge();
			reposArw();
	  	}
	  	updateBadge();
	  	
	  	//$('.source-view').fadeOut();
  		$('.b_source').click(function() {
  			viewSource();
			return false;
		});
  		$('.b_close').click(function() {
	  		$('.source-view').fadeOut();
	  		$('.source-add').fadeIn();
			return false;
		});
	  	function viewSource() {
	  		var posTop = $('#posTop').val();
	  		var pos = $('.radio-pos:checked').val();
	  		var color = $('#color').val();
	  		var account = $('#account').val();
	  		
	  		$('.source-add').fadeOut();
	  		$('.source-view').fadeIn();
	  		
			var codeStr = "";
			codeStr += "<script src='/badge.js' type='text/javascript'></script>";
			codeStr += "<script type='text/javascript' charset='utf-8'><!--\n";
			codeStr += "o.account = 'xxx';o.color = '#"+color+"';o.side = '"+pos+"';o.top = "+posTop+";o.showbadge();";
			codeStr += "--><\/script>\n";
			$("#regularTextarea").val(codeStr);
	  		
	  	}
  		$('.source-view').fadeOut(0);
  		
	  	function reposArw() {
	  		var posTop = $('#posTop').val();
	  		var pos = $('.radio-pos:checked').val();
	  		
			$('.arw-badge-r').fadeOut(0);
			$('.arw-badge-l').fadeOut(0);
	  		if(pos == "r") {
	  			$('.arw-badge-r').css('top', parseInt(posTop)+50);
	  			$('.arw-badge-r').css('right', 60);
		  		$('.arw-badge-r').fadeIn();
	  		} else {
	  			$('.arw-badge-l').css('top', parseInt(posTop)+50);
	  			$('.arw-badge-l').css('left', 60);
		  		$('.arw-badge-l').fadeIn();
	  		}
	  	}
	  	
	});
	// --></script>

</head>
<body>
<div class="arw-badge-r"><img src="/images/arw-r.png" alt="" width="88" height="57" /></div>
<div class="arw-badge-l"><img src="/images/arw-l.png" alt="" width="88" height="57" /></div>

<!-- topbar -->
<div class="topbar">
	<h1>Fork Me</h1>
	<div class="nav-wrap">
		<ul class="tabs">
            <% if @user %>
            <li><a href="#"><%= @user.screen_name %></a></li>
            <% else %>
			<li><a href="/auth/github">sign in with github</a></li>
            <% end %>
			<li><a href="#" class="active">visitor</a></li>
			<li><a href="#">about</a></li>
		</ul>
	</div>
	
	<div class="form-wrap">
		<div class="form">
			<div class="source-view">
				<textarea id="regularTextarea"></textarea>
				<div class="b_close"><a href="#"><img src="/images/b_close.png" alt="" width="158" height="54" class="swap" /></a></div>
			</div>
			<div class="source-add">
				<form>
					<dl class="setting">
						<dt>Account ID : </dt>
						<dd><input type="text" id="account" /></dd>
						
						<dt>Color : </dt>
						<dd><input class="color" id="color" value="3d80a2" /></dd>
						
						<dt>Position : </dt>
						<dd><input name="pos" type="radio" value="l" class="radio-pos" /> Left / <input name="pos" type="radio" value="r" class="radio-pos" checked="checked" /> Right</dd>
				
						<dt>Position Top (px) : </dt>
						<dd><input type="text" id="posTop" value="100" /></dd>
						
					</dl>
					<div class="b_source"><a href="#"><img src="/images/b_source.png" alt="" width="158" height="54" class="swap" /></a></div>
				</form>
			</div>
			
		</div>
	</div>
</div><!-- /topbar -->


<!-- container -->
<div class="container">
	<div class="four columns offset-by-one">
		<ul class="ui-menu">
			<li><div class="arw"></div><a href="#">Ruby on Rails</a></li>
			<li class="act"><div class="arw"></div><a href="#grid">Jacascript</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
			<li><div class="arw"></div><a href="#">jQuery</a></li>
			<li><div class="arw"></div><a href="#">C++</a></li>
		</ul>
	</div>
	<div class="six columns">
		<div class="pt20"></div>
		<h3>Jacascript</h3>
		<p class="f12">概要が入ります。概要が入ります。概要が入ります。概要が入ります。概要が入ります。概要が入ります。概要が入ります。</p>
		<h5>Favorit Repository Ranking</h5>
		<ul class="lists">
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li></li>
		</ul>
		<h5>User Ranking</h5>
		<ul class="lists">
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li></li>
		</ul>
		<h5>Viewer Ranking</h5>
		<ul class="lists">
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li>
				<div class="icon"><a href="#">icon</a></div>
				<div class="repo"><a href="#">repo name</a></div>
				<div class="fav"><a href="#">2fav</a></div>
				<div class="usr"><a href="#">2usr</a></div>
			</li>
			<li></li>
		</ul>
	</div>
	<div class="four columns">
		<div class="menuR mt20"></div>
	</div>
</div><!-- contents -->
</div><!-- container -->

<div class="footer">
	© 2011 <a href="http://twitter.com/#!/search?q=%23p4dhack" target="_blank">#p4dhack</a>, <a href="http://twitter.com/#!/tkawa" target="_blank">@tkawa</a>, <a href="http://twitter.com/#!/hmbrw" target="_blank">@hmbrw</a>
</div>

<script src='/badge.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8"><!--
	o.account = 'xxx';
	o.color = '#3d80a2';
	o.side = 'r';
	o.top = 100;
	o.showbadge();
--></script>



</body>
</html>
