<html>
  <head>
    <title>Fork Me Badge</title>
    <!--%meta{:charset => "UTF-8"}-->
    <!--%link{:rel => "stylesheet", :href => "/styles.css"}-->
    <!--%script{:src => "/script.js"}-->
  </head>

  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
